body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:48px;
  width:960px;
  height:264px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:264px;
}
#u1 {
  position:absolute;
  left:2px;
  top:124px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:421px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:38px;
  width:230px;
  height:230px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:230px;
}
#u4 {
  position:absolute;
  left:2px;
  top:107px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:244px;
  top:38px;
  width:230px;
  height:230px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:230px;
}
#u6 {
  position:absolute;
  left:2px;
  top:107px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:20px;
  top:48px;
  width:200px;
  height:200px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:20px;
  top:104px;
  width:190px;
  height:114px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:114px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:20px;
  top:214px;
  width:46px;
  height:46px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u12 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:65px;
  top:235px;
  width:8px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:263px;
  top:48px;
  width:200px;
  height:200px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:87px;
  top:227px;
  width:49px;
  height:49px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u18 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:145px;
  top:235px;
  width:15px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:263px;
  top:104px;
  width:190px;
  height:114px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:114px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:263px;
  top:211px;
  width:46px;
  height:46px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u24 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:308px;
  top:232px;
  width:8px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:330px;
  top:224px;
  width:49px;
  height:49px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u28 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:388px;
  top:232px;
  width:8px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:425px;
  top:219px;
  width:39px;
  height:40px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:10px;
  top:0px;
  width:248px;
  height:28px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:28px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:484px;
  top:38px;
  width:230px;
  height:230px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:230px;
}
#u36 {
  position:absolute;
  left:2px;
  top:107px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:728px;
  top:38px;
  width:230px;
  height:230px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:230px;
}
#u38 {
  position:absolute;
  left:2px;
  top:107px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:504px;
  top:48px;
  width:200px;
  height:200px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:504px;
  top:104px;
  width:190px;
  height:114px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:114px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:504px;
  top:214px;
  width:46px;
  height:46px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u44 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:549px;
  top:235px;
  width:8px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:747px;
  top:48px;
  width:200px;
  height:200px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:571px;
  top:227px;
  width:49px;
  height:49px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u50 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:629px;
  top:235px;
  width:15px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:747px;
  top:104px;
  width:190px;
  height:114px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:114px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:747px;
  top:211px;
  width:46px;
  height:46px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u56 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:792px;
  top:232px;
  width:8px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:814px;
  top:224px;
  width:49px;
  height:49px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u60 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:872px;
  top:232px;
  width:8px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:909px;
  top:219px;
  width:39px;
  height:40px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u64 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u65 {
  position:absolute;
  left:0px;
  top:348px;
  width:230px;
  height:230px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:230px;
}
#u66 {
  position:absolute;
  left:2px;
  top:107px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:244px;
  top:348px;
  width:230px;
  height:230px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:230px;
}
#u68 {
  position:absolute;
  left:2px;
  top:107px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:20px;
  top:358px;
  width:200px;
  height:200px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:20px;
  top:414px;
  width:190px;
  height:114px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:114px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:20px;
  top:524px;
  width:46px;
  height:46px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u74 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:65px;
  top:545px;
  width:8px;
  height:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:263px;
  top:358px;
  width:200px;
  height:200px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:87px;
  top:537px;
  width:49px;
  height:49px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u80 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:145px;
  top:545px;
  width:15px;
  height:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:263px;
  top:414px;
  width:190px;
  height:114px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:114px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:263px;
  top:521px;
  width:46px;
  height:46px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u86 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:308px;
  top:542px;
  width:8px;
  height:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:330px;
  top:534px;
  width:49px;
  height:49px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u90 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:388px;
  top:542px;
  width:8px;
  height:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:425px;
  top:529px;
  width:39px;
  height:40px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u94 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:10px;
  top:310px;
  width:248px;
  height:28px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:28px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:484px;
  top:348px;
  width:230px;
  height:230px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:230px;
}
#u98 {
  position:absolute;
  left:2px;
  top:107px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:728px;
  top:348px;
  width:230px;
  height:230px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:230px;
}
#u100 {
  position:absolute;
  left:2px;
  top:107px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:504px;
  top:358px;
  width:200px;
  height:200px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:504px;
  top:414px;
  width:190px;
  height:114px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:114px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:504px;
  top:524px;
  width:46px;
  height:46px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u106 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:549px;
  top:545px;
  width:8px;
  height:16px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:747px;
  top:358px;
  width:200px;
  height:200px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:571px;
  top:537px;
  width:49px;
  height:49px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u112 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:629px;
  top:545px;
  width:15px;
  height:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:747px;
  top:414px;
  width:190px;
  height:114px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:114px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:747px;
  top:521px;
  width:46px;
  height:46px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u118 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:792px;
  top:542px;
  width:8px;
  height:16px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:814px;
  top:534px;
  width:49px;
  height:49px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u122 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:872px;
  top:542px;
  width:8px;
  height:16px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:909px;
  top:529px;
  width:39px;
  height:40px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u126 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:0px;
  top:38px;
  width:230px;
  height:230px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:230px;
}
#u128 {
  position:absolute;
  left:2px;
  top:107px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:244px;
  top:38px;
  width:230px;
  height:230px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:230px;
}
#u130 {
  position:absolute;
  left:2px;
  top:107px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:20px;
  top:48px;
  width:200px;
  height:200px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:20px;
  top:104px;
  width:190px;
  height:114px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:114px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:20px;
  top:214px;
  width:46px;
  height:46px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u136 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:65px;
  top:235px;
  width:8px;
  height:16px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:263px;
  top:48px;
  width:200px;
  height:200px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:87px;
  top:227px;
  width:49px;
  height:49px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u142 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:145px;
  top:235px;
  width:15px;
  height:16px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u145 {
  position:absolute;
  left:263px;
  top:104px;
  width:190px;
  height:114px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:114px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:263px;
  top:211px;
  width:46px;
  height:46px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u148 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:308px;
  top:232px;
  width:8px;
  height:16px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u151 {
  position:absolute;
  left:330px;
  top:224px;
  width:49px;
  height:49px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u152 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:388px;
  top:232px;
  width:8px;
  height:16px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u155 {
  position:absolute;
  left:425px;
  top:219px;
  width:39px;
  height:40px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u156 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:10px;
  top:0px;
  width:215px;
  height:28px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:28px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u159 {
  position:absolute;
  left:211px;
  top:335px;
  width:131px;
  height:44px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:44px;
}
#u160 {
  position:absolute;
  left:2px;
  top:14px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:212px;
  top:337px;
  width:128px;
  height:40px;
}
#u161_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u162 {
  position:absolute;
  left:10px;
  top:343px;
  width:186px;
  height:28px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:28px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u164 {
  position:absolute;
  left:388px;
  top:335px;
  width:130px;
  height:44px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:44px;
}
#u165 {
  position:absolute;
  left:2px;
  top:14px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:389px;
  top:337px;
  width:127px;
  height:40px;
}
#u166_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u167 {
  position:absolute;
  left:563px;
  top:335px;
  width:130px;
  height:44px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:44px;
}
#u168 {
  position:absolute;
  left:2px;
  top:14px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:564px;
  top:337px;
  width:127px;
  height:40px;
}
#u169_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u170 {
  position:absolute;
  left:350px;
  top:343px;
  width:28px;
  height:28px;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u172 {
  position:absolute;
  left:531px;
  top:343px;
  width:16px;
  height:28px;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:28px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u174 {
  position:absolute;
  left:709px;
  top:343px;
  width:106px;
  height:28px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:28px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u176 {
  position:absolute;
  left:830px;
  top:335px;
  width:130px;
  height:44px;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:44px;
}
#u177 {
  position:absolute;
  left:2px;
  top:14px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:831px;
  top:337px;
  width:127px;
  height:40px;
}
#u178_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u180 {
  position:absolute;
  left:0px;
  top:1070px;
  width:960px;
  height:100px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:100px;
}
#u181 {
  position:absolute;
  left:2px;
  top:42px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:741px;
  top:1126px;
  width:15px;
  height:8px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u183 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:740px;
  top:1102px;
  width:93px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u185 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:846px;
  top:1126px;
  width:15px;
  height:8px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u187 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:846px;
  top:1102px;
  width:93px;
  height:30px;
  font-size:14px;
  color:#515151;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u189 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:632px;
  top:1126px;
  width:15px;
  height:8px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u191 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:632px;
  top:1102px;
  width:93px;
  height:30px;
  font-size:14px;
  color:#515151;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u193 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:20px;
  top:1091px;
  width:590px;
  height:64px;
  color:#FFFFFF;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:64px;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:0px;
  top:-196px;
  width:960px;
  height:508px;
  opacity:0.55;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:508px;
}
#u197 {
  position:absolute;
  left:2px;
  top:246px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:0px;
  top:48px;
  width:960px;
  height:264px;
  opacity:0.15;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:264px;
}
#u199 {
  position:absolute;
  left:2px;
  top:124px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
}
#u202 {
  position:absolute;
  left:2px;
  top:17px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:20px;
  top:6px;
  width:89px;
  height:37px;
  color:#FFFFFF;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:37px;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u205 {
  position:absolute;
  left:710px;
  top:8px;
  width:110px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u205_img.mouseOver {
}
#u205.mouseOver {
}
#u205_img.mouseDown {
}
#u205.mouseDown {
}
#u206 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:835px;
  top:8px;
  width:110px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u207_img.mouseOver {
}
#u207.mouseOver {
}
#u207_img.mouseDown {
}
#u207.mouseDown {
}
#u208 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:711px;
  top:48px;
  visibility:hidden;
}
#u209_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u209_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:149px;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:149px;
}
#u211 {
  position:absolute;
  left:2px;
  top:66px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:23px;
  top:46px;
  width:62px;
  height:57px;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:57px;
}
#u213 {
  position:absolute;
  left:2px;
  top:20px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:101px;
  top:46px;
  width:63px;
  height:57px;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:57px;
}
#u215 {
  position:absolute;
  left:2px;
  top:20px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:175px;
  top:46px;
  width:62px;
  height:57px;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:57px;
}
#u217 {
  position:absolute;
  left:2px;
  top:20px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:294px;
  top:106px;
  width:371px;
  height:57px;
  font-size:48px;
  color:#FFFFFF;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:57px;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  white-space:nowrap;
}
#u220 {
  position:absolute;
  left:254px;
  top:163px;
  width:452px;
  height:84px;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:84px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  white-space:nowrap;
}
